############################################################
# Template file for LOCAL environment variables.
############################################################

# Mnemonic used to deploy the smart contracts.
# The default value is pre-configured to use it with Ganache locally.
# Note: Keep safe your mnemonic.
MNEMONIC_KEY="blossom spatial metal assault riot bullet truck update forward brave slide way"

DEPLOYER_PRIVATE_KEY=0xYOUR_PRIVATE_KEY_HERE

# Ethereum RPC URLs used to deploy smart contracts (archive nodes recommended)
# Must be the full URL, e.g. https://eth-mainnet.g.alchemy.com/v2/YOUR_API_KEY
MAINNET_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/YOUR_API_KEY
RINKEBY_RPC_URL=https://eth-rinkeby.g.alchemy.com/v2/YOUR_API_KEY
ROPSTEN_RPC_URL=https://eth-ropsten.g.alchemy.com/v2/YOUR_API_KEY
KOVAN_RPC_URL=https://eth-kovan.g.alchemy.com/v2/YOUR_API_KEY

# Polygon RPC URLs used to deploy smart contracts
# Must be the full URL
MATIC_MAINNET_RPC_URL=https://polygon-mainnet.g.alchemy.com/v2/YOUR_API_KEY
MATIC_MUMBAI_RPC_URL=https://polygon-mumbai.g.alchemy.com/v2/YOUR_API_KEY

# Infura key used to deploy smart contracts
INFURA_KEY=add-your-infura-key-here

# Etherscan API key. This is used to verify smart contract in the Ethereum networks.
ETHERSCAN_API_KEY=add-your-etherscan-api-key-here

# Safe Global API key for proposing transactions to Gnosis Safe
SAFE_GLOBAL_API_KEY=add-your-safe-global-api-key-here

# CoinMarketCap API key used for gas reporting
CMC_KEY=add-your-coinmarketcap-key-here

# Disables logging via `hre.log`
DISABLE_LOGS='false'
