node_modules
yarn-error.log
coverage.json
coverage
build
.env
.DS_Store
.idea
.coverage_artifacts
.coverage_contracts
ignored
types/truffle-contracts
typechain
cache
artifacts
.vscode
deployments/localhost
yarn.lock
