{
    "overrides": [
      {
        "files": "*.sol",
        "options": {
          "printWidth": 90,
          "tabWidth": 4,
          "useTabs": false,
          "singleQuote": false,
          "bracketSpacing": false,
          "explicitTypes": "always"
        }
      }
    ]
  }